.catalog {
  background-color: #ffffff;
  font-family: @font-main;
}

.catalog__list {
  .reset-ul();
  display: flex;
  flex-direction: column;
}

.catalog__product-name {
  display: inline-block;
  width: 75px;

  margin-top: 23px;
  margin-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;

  color: #111111;
  text-transform: uppercase;
}


.catalog__description {
  font-family: @font-2;
  font-size: 12px;
  line-height: 16px;
  width: 140px;
  margin-bottom: 17px;
}

.catalog__description tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.catalog__description td {
  padding: 0;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 13px - 2px;
  padding-bottom: 12px - 2px;
  width: 100%;
}

.catalog__more {
  padding-top: 79px;
  padding-bottom: 25px;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    opacity: 0.2;
    transform: translateX(-50%);
    top: 26px;
    width: 31px;
    height: 31px;
    background-image: url("../../img/icon-plus-mobile.svg");
    background-size: 31px;
    background-repeat: no-repeat;
  }
}

.catalog__text-more {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  margin-bottom: 9px;
  text-transform: uppercase;
}

.catalog__text-info {
  font-family: @font-2;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 20px;
  margin-top: auto;
  color: #444444;
}

.catalog__button.catalog__button--show-more {
  background-color: #f2f2f2;
  color: #444444;
}

@media (max-width: @tablet-width - 1px) {
  .catalog__item {
    padding-bottom: 24px;
    border: solid 1px #ededed;
    width: @mobile-width;
    margin-left: auto;
    margin-right: auto;

    &:not(:first-child) {
      border-top: none;
    }
  }

  .catalog__item-container {
    padding-left: @mobile-padding;
    padding-right: @mobile-padding;
  }

  .catalog__image {
    float: left;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    width: @tablet-content;
    margin-left: @tablet-padding;
    margin-right: @tablet-padding;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: @tablet-content;
    justify-content: space-between;
  }

  .catalog__item {
    width: 324px;
    padding-top: 100px;
  }

  .catalog__item-container {
    padding-left: 29px;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-top: 165px;
    background-color: #f2f2f2;
    position: relative;
  }

  .catalog__image-wrapper {
    width: 100%;
    position: absolute;
    height: 208px;
    top: -82px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .catalog__image {
    width: 100%;
    //height: 208px;
    max-width: initial;
  }

  .catalog__info-wrapper {
    text-align: center;
  }

  .catalog__product-name {
    width: 124px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
  }

  .catalog__description {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: @desktop-content;
  }

  .catalog__item {
    width: 245px;
  }
}
