.catalog {
  background-color: #ffffff;
  font-family: @font-main;
}

.catalog__list {
  .reset-ul();
  display: flex;
  flex-direction: column;
}

.catalog__item {
  padding-bottom: 25px;
  width: 320px;
}

.catalog__product-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 18px - 2px - 2px;
}

.catalog__description {
  font-family: @font-2;
  font-size: 12px;
  line-height: 16px;
}

.catalog__button {
  font-size: 16px;
  line-height: 20px;
  padding-top: 13px - 2px;
  padding-bottom: 12px - 2px;
}

.catalog__more {
  padding-top: 83px - 2px;
  padding-bottom: 25px;
}

.catalog__text-more {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  margin-bottom: 11px - 2px;
}

.catalog__text-info {
  font-family: @font-2;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 22px - 2px;
}

.catalog__button .catalog__button--show-more {
  background-color: #f2f2f2;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    width: 324px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item {
    width: 245px;
  }
}
