.container {
  width: @mobile-content;
  margin-left: auto;
  margin-right: auto;
  //  padding-left: @mobile-padding / 2;
  //  padding-right: @mobile-padding / 2;
}

@media (min-width: @tablet-width) {
  .container {
    width: @tablet-content;
    //    padding-left: @tablet-padding / 2;
    //    padding-right: @tablet-padding / 2;
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: @desktop-content;
    //    padding-left: @desktop-padding / 2;
    //    padding-right: @desktop-padding / 2;
  }
}
