.how-it-works {
  background-color: #ffffff;
}

.how-it-works__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  color: 111111;
}

.how-it-works__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: 444444;
}
