.location__map {
  width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
}

.location__partnership {
  display: flex;
  padding-top: 21px;
  padding-bottom: 26px;
}

.location__partnership-invite {
  display: inline-block;
  width: 130px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  margin-right: auto;
}

.location__partnership-adress {
  font-family: @font-2;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  display: inline-block;
  width: 140px;
  font-style: normal;
}
