.owner {
  background-color: #f2f2f2;
  padding-top: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: normal;
}

.owner__name {
  font-family: @font-2;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin-right: auto;
}

.owner__logo {
  height: 34px;
  width: 27px;
}

@media (min-width: @tablet-width) {
  .owner {
    padding-top: 5px;
  }

  .owner__name {
    margin-right: 23px;
  }
}

@media (min-width: @tablet-width) {
  .owner {
    padding-top: 7px;
  }
}
