.page-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: @mobile-content;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
  position: relative;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

@media (max-width: @tablet-width) {
  .page-header__logo-wrapper::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #e6e6e6;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    width: @tablet-content;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-top: 53px;
    padding-bottom: 53px;
    width: @desktop-content;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
