.page-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: @mobile-content;
}

.page-main__header {
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  font-weight: 400;
}

.page-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 15px;
  position: relative;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

@media (max-width: @tablet-width - 1px) {
  .page-header__logo-wrapper::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: -20px;
    width: 320px;
    height: 1px;
    background-color: #e6e6e6;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 24px;
    width: @tablet-content;
    align-items: center;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-top: 42px;
    padding-bottom: 53px;
    width: @desktop-content;
  }

  .page-header--index {


    &::before {
      content: "";
      position: absolute;
      //max-width: 720px;
      //width: calc(100vw - 120px - 50%);
      width: 720px;
      height: 696px;
      top: 0;
      left: 50%;
      background-color: #68b738;
      background-image: url("../../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      z-index: 0;
    }
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}
