.page-footer {
  background-color: #f2f2f2;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  padding-top: 39px;
  padding-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
