.page-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 11px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    padding-top: 53px;
    padding-bottom: 53px;
  }
}
