.program__desc {
  display: inline-block;
  width: 230px;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 37px;
}

.program__input-row {
  display: flex;
  align-items: center;
}

.program__group {
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

.program__input-row {
  padding: 0;
  margin-top: 0;
  margin-bottom: 13px;
  position: relative;
}

.program__label {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  margin-right: 10px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-right: 15px;
  margin-left: -2px;
}

.program__text-input {
  width: 100%;
  padding: 12px 12px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  //border-color: red;
  border: 2px solid red;
}

//стилизация radiobutton
.program__radio-input + .program__label {
  padding-left: 46px;
  padding-top: 6px;
  padding-bottom: 6px;

  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    left: -1px;
    top: 0;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }
}

.program__radio-input:checked  + .program__label {
  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 9px;
    top: 9px;
    border-radius: 50%;
    background-color: #68b738;
  }
}

.program__group-row {
  width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
  padding-top: 20px;
  padding-bottom: 8px;
}

.program__group--program {
  margin-bottom: 27px;
}


//заголовок с линией
.program__group-title-wrapper {
  width: auto;
  max-width: @mobile-width;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #68b738;
    z-index: 15;
    left: 0;
    top: 14px;
  }
}

.program__group-title-container {
  width: @mobile-content;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.program__group-title {
  //display: inline-block;
  position: relative;
  box-sizing: content-box;
  padding-left: 20px;
  padding-right: 16px;
  left: -20px;
  background-color: #ffffff;
  z-index: 20;
  margin-bottom: 30px;
}

.program__group-title {
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  max-width: 185px;
}

.program__group--owner .program__input-row-container {
  padding-top: 3px;
  padding-bottom: 5px;
}

.program__text-input.program__text-input--email {
  padding-right: 36px;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-size: 18px 14px;
  background-position: right 13px top 14px;
}

.program__text-input.program__text-input--phone {
  padding-right: 36px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
  background-position: right 11px top 12px;
}

.program__group--comment .program__input-row-container {
  padding-top: 5px;
  padding-bottom: 16px;
}

.program__textarea {
  box-sizing: border-box;
  width: 280px;
  height: 150px;
  opacity: 0.5;
  border: solid 1px #cdcdcd;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 0;
  text-transform: uppercase;
}


.program__group--additional .program__input-row-container {
  padding-top: 4px;
  padding-bottom: 10px;
}

//Стилизация checkbox
.program__checkbox-input + .program__label {
  padding-left: 46px;
  padding-top: 6px;
  padding-bottom: 6px;

  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0px;
    top: 0;
    border: 1px solid #cdcdcd;
  }
}

.program__checkbox-input:checked  + .program__label {
  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 17px;
    left: 4px;
    top: 8px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }
}

.program__button {
  margin-bottom: 21px;
}

.program__footnote {
  font-family: @font-2;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}
