.social {
  background-color: #f2f2f2;
  .reset-ul();
  border-top: solid 1px transparent;
  border-bottom: solid 1px transparent;
  padding-top: 23px;
  padding-bottom: 18px;
  display: flex;
  height: 22px;
}

.social__item {
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.social__link {
  display: block;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;

  &--vkontakte {
    width: 22px;
    height: 18px;
    background-image: url("../../img/icon-vk.svg");
  }

  &--instagram {
    width: 17px;
    height: 17px;
    background-image: url("../../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
  }
}
