.social {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 21px;
}

.social__image-svg path {
  fill: #666666;
}

.social__item {
  & svg {
    fill: #666666;
  }

  &:hover svg {
    fill: #68b738;
  }

  &:active svg {
    opacity: 0.3;
    fill: #68b738;
  }

  &:not(:last-child) {
    margin-right: 35px;
  }
}

@media (min-width: @tablet-width) {
  .social {
    align-items: center;
    margin-left: 16px;
  }

  .social__item {
    &:nth-child(1) {
      margin-right: 28px;
    }

    &:nth-child(2) {
      margin-right: 29px;
    }
  }

  .social__link--vkontakte svg {
    width: 30px;
    height: 16px;
  }

  .social__link--instagram svg {
    width: 23px;
    height: 23px;
  }

  .social__link--facebook svg {
    width: 14px;
    height: 28px;
  }
}
